# Simple loops

In [ ]:
n = int(input("Enter Number of star to print  "))
for i in range(n):
  print('*',end = " ")

Enter Number of star to print  10
* * * * * * * * * *

## square patterns

square pattern with symbol

In [ ]:
n = int(input("Enter Number of star to print  "))
for i in range(n):
  for j in range(n):
    print('*',end = " ")
  print()

Enter Number of star to print  5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n = int(input())
for i in range(n):
  print('* '*n)

4
* * * *
* * * *
* * * *
* * * *

print specific digit with that specific number of time

In [ ]:
n = int(input())
s = str(n)
for i in range(n):
  print((s+' ') *n)

6
6 6 6 6 6 6
6 6 6 6 6 6
6 6 6 6 6 6
6 6 6 6 6 6
6 6 6 6 6 6
6 6 6 6 6 6

print serial number 1 to n

In [ ]:
n = int(input("enter n "))
for i in range(n):
  print((str(i+1)+' ') * n)

enter n 7
1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5 5
6 6 6 6 6 6 6
7 7 7 7 7 7 7

print alphabatic character given number of matrix

In [ ]:
n = int(input("Enter the number "))
for i in range(n):
  print('A '*n)

Enter the number 5
A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [ ]:
n = int(input("Enter value  "))
for i in range(n):
  print((str(chr(65 + i)) + ' ') * n)

Enter value  8
A A A A A A A A
B B B B B B B B
C C C C C C C C
D D D D D D D D
E E E E E E E E
F F F F F F F F
G G G G G G G G
H H H H H H H H

print square pattern with digits

In [ ]:
n = int(input())
for i in range(n):
  print(i + 1,end= "   ")  # print index
  for j in range(n):
    print(str(j+1)+'',end = ' ') # print stateenrt with space
  print() # to get into next line

8
1   1 2 3 4 5 6 7 8
2   1 2 3 4 5 6 7 8
3   1 2 3 4 5 6 7 8
4   1 2 3 4 5 6 7 8
5   1 2 3 4 5 6 7 8
6   1 2 3 4 5 6 7 8
7   1 2 3 4 5 6 7 8
8   1 2 3 4 5 6 7 8

print progressive alphabet in each row

In [ ]:
n = int(input())
for i in range(n):
  print(i + 1,end= "   ")  # print index
  for j in range(n):
    print(chr(65+j),end = ' ') # print stateenrt with space
  print() # to get into next line

5
1   A B C D E
2   A B C D E
3   A B C D E
4   A B C D E
5   A B C D E

print digits in decending order

In [ ]:
n = int(input())
for i in range(n):
  print((str(n-i) + ' ')*n)

8
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7 7
6 6 6 6 6 6 6 6
5 5 5 5 5 5 5 5
4 4 4 4 4 4 4 4
3 3 3 3 3 3 3 3
2 2 2 2 2 2 2 2
1 1 1 1 1 1 1 1

print square pattern alphabets in reverse order

In [ ]:
n = int(input())
for i in range(n):
  print((chr(65 + n - i - 1) + ' ')*n)

10
J J J J J J J J J J
I I I I I I I I I I
H H H H H H H H H H
G G G G G G G G G G
F F F F F F F F F F
E E E E E E E E E E
D D D D D D D D D D
C C C C C C C C C C
B B B B B B B B B B
A A A A A A A A A A

print square pattern with digits in decending order

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n):
    print((str(n-j )),end = ' ')
  print()

6
6 5 4 3 2 1
6 5 4 3 2 1
6 5 4 3 2 1
6 5 4 3 2 1
6 5 4 3 2 1
6 5 4 3 2 1

print square pattern with alphabets in reverse order

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n):
    print(chr(65  + n  - j  - 1), end = ' ')
  print()

5
E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

##Right angle triangle

print right angle tringle with *

In [ ]:
n  = int(input())
for i in range(n):
  for j in range(i + 1):
    print('*', end = ' ')
  print()

8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

print right angle triangle pattern with digit fixed in each row

In [ ]:
n = int(input())
for i in range(n):

  for j in range(i + 1):
    print(str(i + 1), end = ' ')
  print()

8
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

with 1 for loop

In [ ]:
n  = int(input())
for i in range(n):
  print((str(i + 1) + ' ') * (i + 1))

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

print right angle triangle with alphabets

In [ ]:
n  = int(input())
for i in range(n):
  print((chr(65  + i) + ' ' )* (i + 1))

8
A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H

print right angle pattern triangle in decending order of number

In [ ]:
n = int(input())
for i in range(n):
  for j in range(i + 1):
    print((str(n - j ) + ' '), end = " ")
  print()

8
8
8  7
8  7  6
8  7  6  5
8  7  6  5  4
8  7  6  5  4  3
8  7  6  5  4  3  2
8  7  6  5  4  3  2  1

print right angle triangle with reverse order alphabets

In [ ]:
n = int(input())
for i in range(n):
  for j in range(i + 1):
    print(chr(65 + n - j -1) , end = ' ')
  print()

8
H
H G
H G F
H G F E
H G F E D
H G F E D C
H G F E D C B
H G F E D C B A

##Inverted right angled triangle

print inverted right angled triangle with * symbols

In [ ]:
n = int(input())
for i in range(n):
  print('* ' * (n - i))

8
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

print inverted right angle triangle pattern with fixed digit

In [ ]:
n = int(input())
for i in range(n):
  print((str(i + 1) + ' ') * (n - i))

8
1 1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4
5 5 5 5
6 6 6
7 7
8

print inverted right angle triangle pattern with fixed alphabet symbol in each row

In [ ]:
n = int(input())
for i in range(n):
  print((chr(65 + i) + ' ')* (n - i))

8
A A A A A A A A
B B B B B B B
C C C C C C
D D D D D
E E E E
F F F
G G
H

print inverted right angle triangle pattern with fixed digit in each row

In [ ]:
n = int(input())
for i in range(n):
  print((str(n - i ) + ' ')* (n - i ))

8
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

print inverted right angle triangle pattern with fixed alphabet symbol in every row

In [ ]:
n = int(input())
for i in range(n):
  print((chr(65 + n - i - 1) + ' ') * (n - i))

8
H H H H H H H H
G G G G G G G
F F F F F F
E E E E E
D D D D
C C C
B B
A

In [ ]:
n = int(input())
for i in range(n):
  for j in range( n - i):
    print( str(j + 1), end = ' ')
  print()

8
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

print right angled inverted triangle pattern with symbols in dictionary order in each row

In [ ]:
n  = int(input())
for i in range(n):
  for j in range(n - i):
    print(chr(65 + j), end =  ' ')
  print()

8
A B C D E F G H
A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

print inverted right angled triangle pattern with digits decending order in every row

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n - i):
    print( str(n - j), end = ' ' )

  print()

8
8 7 6 5 4 3 2 1
8 7 6 5 4 3 2
8 7 6 5 4 3
8 7 6 5 4
8 7 6 5
8 7 6
8 7
8

print inverted right angled triangle pattern with alphabet symbol in reverse of dictionary order in every row

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n - i):
    print(chr(65 + n - j - 1),end = ' ')
  print()

8
H G F E D C B A
H G F E D C B
H G F E D C
H G F E D
H G F E
H G F
H G
H

##Pyramid pattern

print pyramid pattern with symbols

In [ ]:
n = int(input())
for i in range(n):
  print( ' ' * (n - i - 1 ) + '* ' * ( i + 1) )

5
    *
   * *
  * * *
 * * * *
* * * * *

print fixed digit in every row works upto 9

In [ ]:
n = int(input())
for i in range(n):
  print(" " * ( n - i - 1 ) + (str(i + 1) + ' ') * (i + 1))

15
              1
             2 2
            3 3 3
           4 4 4 4
          5 5 5 5 5
         6 6 6 6 6 6
        7 7 7 7 7 7 7
       8 8 8 8 8 8 8 8
      9 9 9 9 9 9 9 9 9
     10 10 10 10 10 10 10 10 10 10
    11 11 11 11 11 11 11 11 11 11 11
   12 12 12 12 12 12 12 12 12 12 12 12
  13 13 13 13 13 13 13 13 13 13 13 13 13
 14 14 14 14 14 14 14 14 14 14 14 14 14 14
15 15 15 15 15 15 15 15 15 15 15 15 15 15 15

print pyramid pattern with fixed alphabet symbol in every row

In [ ]:
n = int(input())
for i in range(n):
  print(' '* (n - i - 1 ) + ((chr(65 + i) + ' ')* (i + 1)))

7
      A
     B B
    C C C
   D D D D
  E E E E E
 F F F F F F
G G G G G G G

print pyramid pattern with digits in ascending order in every row

In [ ]:
n = int(input())

for i in range(n):
  print( '  ' * (n - i - 1),end=' ')
  for j in range(i + 1):
    print((str(j + 1) + '  '), end = ' ')
  print()

12
                       1
                     1   2
                   1   2   3
                 1   2   3   4
               1   2   3   4   5
             1   2   3   4   5   6
           1   2   3   4   5   6   7
         1   2   3   4   5   6   7   8
       1   2   3   4   5   6   7   8   9
     1   2   3   4   5   6   7   8   9   10
   1   2   3   4   5   6   7   8   9   10   11
 1   2   3   4   5   6   7   8   9   10   11   12

print pattern with alphabet symbol in dictionary order in each row

In [ ]:
n = int(input())
for i in range(n):
  print(' ' * (n - i - 1),end = ' ')
  for j in range(i + 1):
    print( (chr(65 + j)  ), end = ' ')

  print()

5
     A
    A B
   A B C
  A B C D
 A B C D E

print pyramid with digits in decending order in each row

In [ ]:
n = int(input())
for i in range(n):
  print(' ' * (n - i - 1), end = '')
  for j in range(i + 1 ):
    print( str(n - j) + ' ',end = '')
  print()

5
    5
   5 4
  5 4 3
 5 4 3 2
5 4 3 2 1

print pyramid with alphabets in reverse order of dictionay in each row

In [ ]:
n = int(input())
for i in range(n):
  print(' ' * (n - i - 1), end = '')
  for j in range(i + 1):
    print(chr(65 + n - j - 1), end = ' ' )
  print()

8
       H
      H G
     H G F
    H G F E
   H G F E D
  H G F E D C
 H G F E D C B
H G F E D C B A

In [ ]:
n = int(input())
for i in range(1,n+1):
  space = len(str(n )) + 1 - len(str(i))
  print(" "*(n - i  ) + (str(i) + " " * space)*(i))

8
       1
      2 2
     3 3 3
    4 4 4 4
   5 5 5 5 5
  6 6 6 6 6 6
 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

##Inverted pyramid

print inverted pyramid with symbols

In [ ]:
n = int(input())
for i in range(n):
  print(' ' *(i) +'* ' * (n - i))

15
* * * * * * * * * * * * * * *
 * * * * * * * * * * * * * *
  * * * * * * * * * * * * *
   * * * * * * * * * * * *
    * * * * * * * * * * *
     * * * * * * * * * *
      * * * * * * * * *
       * * * * * * * *
        * * * * * * *
         * * * * * *
          * * * * *
           * * * *
            * * *
             * *
              *

print inverted pyramid pattern with fixed digit in each row

In [ ]:
n = int(input())
for i in range(n):
  print(' '*i + (str(1 + i)+' '*(len(str(n))+1-len(str(i))))*(n - i))

5
1 1 1 1 1
 2 2 2 2
  3 3 3
   4 4
    5

print inverted pyramid with fixed alphabet symbol in each row

In [ ]:
n = int(input())
for i in range(n):
  print(' '*i + (chr(65 + i)+' ')*(n - i))

8
A A A A A A A A
 B B B B B B B
  C C C C C C
   D D D D D
    E E E E
     F F F
      G G
       H

print inverted pyramid with digits in ascending order in every row

In [ ]:
n = int(input())
for i in range(n):
  print(' ' * i , end = ' ')
  for j in range( n - i ):
    print(str(j + 1) , end = ' ')
  print()

8
 1 2 3 4 5 6 7 8
  1 2 3 4 5 6 7
   1 2 3 4 5 6
    1 2 3 4 5
     1 2 3 4
      1 2 3
       1 2
        1

print inverted pyramid pattern with alphabet symbol in dictionary order in every row

In [ ]:
n = int(input())
for i in range(n):
  print(' ' * i,end = '')
  for j in range(n - i):
    print((chr(65 + j) ),end = ' ')
  print()

8
A B C D E F G H
 A B C D E F G
  A B C D E F
   A B C D E
    A B C D
     A B C
      A B
       A

print inverted pyramid with digits in decending order in each row

In [ ]:
n = int(input())
for i in range(n):
  print(' ' * i,end = '')
  for j in range(n - i):
    print( (str(n - j) + ' '), end = '')
  print()

8
8 7 6 5 4 3 2 1
 8 7 6 5 4 3 2
  8 7 6 5 4 3
   8 7 6 5 4
    8 7 6 5
     8 7 6
      8 7
       8

print inverted pyramid with alphabet in reverse of dictory order order in  each row

In [ ]:
n = int(input())
for i in range(n):
  print(' ' * i,end = '')
  for j in range(n - i):
    print( (chr(65 + n - j - 1)) ,end = ' ')
  print()

5
E D C B A
 E D C B
  E D C
   E D
    E

##Diamond Patterns

print diamond pattern with symbols

In [ ]:
n = int(input())
for i in range(n):
  print(' ' * (n - i - 1) + '* ' * (i + 1))
for j in range(n - 1):
  print( ' ' * (j + 1)  + '* ' * ( n - j - 1))

7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

print diamond pattern with fixed digit in every row

In [ ]:
n = int(input())
for i in range(n):
  print( ' ' * (n - i - 1) + (str(i + 1) + ' ')* ( i + 1))

for j in range(n -1):
  print(' ' * (j + 1 ) + (str(n - 1 - j) + ' ' )* (n - 1 - j))

8
       1
      2 2
     3 3 3
    4 4 4 4
   5 5 5 5 5
  6 6 6 6 6 6
 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
 7 7 7 7 7 7 7
  6 6 6 6 6 6
   5 5 5 5 5
    4 4 4 4
     3 3 3
      2 2
       1

print diamond pattern with alphabet symbol in each row

In [ ]:
n = int(input())
for i in range(n):
  print( ' ' * (n - i - 1) + (chr(65 + i) + ' ' ) * (i + 1 ))
for j in range(n - 1):
  print( ' '*(j + 1) + (chr(65 + n - j - 2) + ' ')* (n - 1 - j ))

8
       A
      B B
     C C C
    D D D D
   E E E E E
  F F F F F F
 G G G G G G G
H H H H H H H H
 G G G G G G G
  F F F F F F
   E E E E E
    D D D D
     C C C
      B B
       A

print diamond pattern with digits in ascending order in each row

In [ ]:
n = int(input())
for i in range(n):
  print(' ' * ( n - i - 1),end = '')
  for j in range(i + 1):
    print(str(j + 1),end = ' ')
  print()

for i in range(n ):
  print(' ' * (i + 1 ), end = '')
  for j in range(n - i - 1):
    print(str(j + 1), end = ' ')
  print()

8
       1
      1 2
     1 2 3
    1 2 3 4
   1 2 3 4 5
  1 2 3 4 5 6
 1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7
  1 2 3 4 5 6
   1 2 3 4 5
    1 2 3 4
     1 2 3
      1 2
       1

print diamond pattern with alphabet symbols in dictionary order in each row

In [18]:
n = int(input())
for i in range(n):
  print(' ' * (n - i - 1), end ='')
  for j in range(i + 1):
    print(chr(65 + j ), end = ' ')
  print()

for i in range(n - 1):
  print(" "* (i + 1),end = "")
  for j in range(n - i -1 ):
    print((chr(65 + j ) ) ,end= " ")
  print()

8
       A
      A B
     A B C
    A B C D
   A B C D E
  A B C D E F
 A B C D E F G
A B C D E F G H
 A B C D E F G
  A B C D E F
   A B C D E
    A B C D
     A B C
      A B
       A

print diamond pattern with digits in decending order in every row

In [23]:
n = int(input())
for i in range(n):
  print( ' '*(n - i - 1),end = '')
  for j in range(i + 1):
    print(str(n - j),end = ' ')
  print()

for i in range(n):
  print( " "* (i + 1),end = '')
  for j in range(n - 1 - i):
    print(str(n - j) ,end = " ")
  print()

15
              15
             15 14
            15 14 13
           15 14 13 12
          15 14 13 12 11
         15 14 13 12 11 10
        15 14 13 12 11 10 9
       15 14 13 12 11 10 9 8
      15 14 13 12 11 10 9 8 7
     15 14 13 12 11 10 9 8 7 6
    15 14 13 12 11 10 9 8 7 6 5
   15 14 13 12 11 10 9 8 7 6 5 4
  15 14 13 12 11 10 9 8 7 6 5 4 3
 15 14 13 12 11 10 9 8 7 6 5 4 3 2
15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
 15 14 13 12 11 10 9 8 7 6 5 4 3 2
  15 14 13 12 11 10 9 8 7 6 5 4 3
   15 14 13 12 11 10 9 8 7 6 5 4
    15 14 13 12 11 10 9 8 7 6 5
     15 14 13 12 11 10 9 8 7 6
      15 14 13 12 11 10 9 8 7
       15 14 13 12 11 10 9 8
        15 14 13 12 11 10 9
         15 14 13 12 11 10
          15 14 13 12 11
           15 14 13 12
            15 14 13
             15 14
              15

print diamond pattern with alphabet symbol in reverse order of dictionary in each row

In [30]:
n = int(input())

for i in range(n):
  print(" " * (n - i - 1),end = "")
  for j in range(i + 1 ):
    print(chr(65 + n - j - 1),end = " ")
  print()

for i in range(n - 1):
  print(" " * (i + 1),end = "")
  for j in range(n - i - 1):
    print(chr(65 + n - j - 1),end = " ")
  print()

8
       H
      H G
     H G F
    H G F E
   H G F E D
  H G F E D C
 H G F E D C B
H G F E D C B A
 H G F E D C B
  H G F E D C
   H G F E D
    H G F E
     H G F
      H G
       H

## half diamond

 problem 50 print half diamond with * symbol

In [31]:
n = int(input())

for i in range(n):
  print('* '* (i + 1))

for j in range(n - 1):
  print("* "*(n - j - 1))

5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#problem 51

## Recursion/function

recursion for reverse pattern

In [ ]:
def reversepat(n):
  m = n
  def pattern(m):
    
    print((str(m)+' ')*n)
  for i in range(m):
    pattern(m-i)

In [ ]:
n = int(input())
reversepat(n)

5
5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [ ]:
def seriespat(n):
  m = n
  def pattern(m):
    
    print((str(m)+' ')*n)
  for i in range(m):
    pattern(i+1)

In [ ]:
n = int(input())
seriespat(n)

5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

print specific number

In [ ]:
def callcharacter(n):
    m = n
    def stable(m):
      print('A '*n)
    [stable(m) for i in range(n)]

In [ ]:
n = int(input())
callcharacter(n)

8
A A A A A A A A
A A A A A A A A
A A A A A A A A
A A A A A A A A
A A A A A A A A
A A A A A A A A
A A A A A A A A
A A A A A A A A